@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/
[class*="grid-"] {display: grid;gap: 1rem;}
@media (min-width: 48em) {
  .grid-3-columns {grid-template-columns: repeat(2, 1fr);display: grid;gap: 1rem;}}

@media (min-width: 64em) {
  .grid-3-columns {grid-template-columns: repeat(3, 1fr);display: grid;gap: 1rem;}}

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
